.div{
    text-align:center!important;
    padding-bottom: 30px;
}

#text{
    font-size: 30px;
}

#titlee{
    border-color: black;
    border-style: border;
    border: 3px;
    border-bottom:black;
}