.box img {
  width: 800px !important;
  height: 1000px !important;
  text-align: center !important;
}
.box {
  align-items: center!important;
  padding: 3px;
  width: 100% !important;
  height: 100% !important;
  padding-left: 150px !important;
  padding-right: 150px !important;
}
