.title{
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    border-collapse: separate;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-block-color: white;
    text-align: center;
    margin-bottom: 100px;
}
.image{
    width: 107px;
    height: 90;
}
table th{
    text-align: center;
}
.ta{
   padding-bottom: 40px;
}
table td{
    border: 1px;
}

.car-box{
    border-style:solid;
    border-color: black;
}