body {
    text-align: center;
    color: aliceblue;
  }
  
  h1 {
    padding-top: 30px;
  }

.box{
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}


p{
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
 /*  padding-block-start: 60px; */
}